/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/fonts/slick.ttf');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.6/fonts/slick.woff');

body {
 font-family: 'Cabin', sans-serif;
}

.container {
    width: 100%;
}
 
.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: white;
    width: 100%;
}

.navbar-link img {
    width: 30px;
    border-radius: 50px;
    padding: 0 0 0 0;
}

.navbar li:hover, a:hover {
    text-decoration: none;
    border-bottom: 2px solid black;
    background-color: white;
}

#logo {
    height: 50px;
}

#logo a:hover, li:hover {
    text-decoration: none;
    border:none !important;
    background-color: white;
}

#searchfix {
    position: fixed;
    top: 50px;
    height: 55px;
    padding: 10px 10px 20px 10px;
    background-color: white;
    z-index: 99;
    width: 70%;
}

#searchbar {
    width: 70%;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

#searchbtn {
    width: 20%;
    padding: 5px 5px 5px 5px;
    margin: 0 10px 0 10px;
}

.indivpost {
    display: inline-block;
    width: 30%;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

.indexphoto img {
    text-align: center;
    height: 160px;
    overflow: hidden;
}

.showroomavatar {
    height: 100px;
}

.indexmap {
    position:fixed;
    overflow: hidden;
    right: 10px;
    top: 120px;
}

.slickthing {
    background-color: black;
    font-family: 'Slick';
}

.slickthing img {
    height: 360px;
    margin: 20px 60px 20px 60px;
}

.slick-prev {
    left: 10% !important;
    top: 50%;
    width: 15%;
    height: 100%;
    z-index: 99;
    font-size: 50px !important;
    position: absolute;
    background-color: #fd5c63;
    color: #fd5c63;
}
.slick-prev.active, .slick-next.active {
     background-color: #fd5c63;
     position: absolute;
     top: 50%;
}

.slick-next { 
    right: 10% !important; 
    top: 50%;
    width: 15%;
    height: 100%;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    background-color: #fd5c63;
    color: #fd5c63;
}

.slick-dots {
    display: inline-block;
    text-align: center;
    width: 22%;
    bottom: 10%;
    color: black;
    padding: 15px 0;
  }
  
.avatarimg {
    width: 100px;
}

.reviewcommentrate-form {
    width: 80%;
    margin-bottom: 50px;
}

.reviewavatar {
    width: 80px;
}

.reviewtext {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10% 10px 10%;
}

.reviewtext text-area {
    height: 300px;
}

.reviewselect {
    display: inline-block;
    text-align: center;
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin: 10px 3% 10px 19%;
}

.reviewbutton {
    display: inline-block;
    text-align: center;
    width: 23%;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 2%;
}

.img-responsive {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#showprofphoto img {
    max-height: 200px !important;
}

#profiletable td {
    padding: 10px 10px 10px 10px;
}

.profphoto {
    width: 100%;
}

.nearby {
    bottom: 100px;
}

.minis {
    width: 18%;
    float: left;
    margin: 10px 10px 10px 10px;
}

.minis img {
    margin: 0 10% 10px 10%;
    height: 100px;
}

@media only screen and (max-width: 768px) {
    
.container {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    max-width: 100%;
}
    
    
.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    max-width: 100%;
    background-color: white;
    z-index: 100;
}

.navbar-link img {
    width: 30px;
    border-radius: 50px;
    padding: 0 0 0 0;
}

.navbar li:hover, a:hover {
    text-decoration: none;
    border-bottom: 2px solid black;
    background-color: white;
}

.navbar-header {
    height: 100%;
    background: white;
    width: 100%;
    text-align: right;
}

.navbar-collapse{
    background: none repeat scroll 0 0 #FFFFFF;
    position: relative;
    z-index: 99999;
}

#logo {
    height: 50px;
}

#logo a:hover, li:hover {
    text-decoration: none;
    border:none !important;
    background-color: white;
}

#searchfix {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 80;
    display: inline-block;
    text-align: center;
    top: 60px;
    height: 60px;
    padding: 10px 0 10px 0;
    width: 95%;
}

#searchbar {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 0 10px;
}

#searchbtn {
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 0 10px;
}
    
#mapcol div {
    display: none !important;
}

#respondmobile {
    max-width: 100%;
}

.indexmap {
    display: none !important;
}
    
.indivpost {
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin: 50px 0 0 0;
}
    
.indexphoto img {
    max-width: 100%;
    height: auto;
}

#showprofphoto img {
    max-height: 200px !important;
}

.slickthing {
    margin-top: 50px;
}
#showroommap {
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

#reviewmobile {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0 2% 0 2%;
}

.reviewtext, .reviewselect {
     width: 90%;
    display: inline-block;
    text-align: center;
    margin: 5px 5% 5px 5%;
}

#nearby {
    padding: 10px 20px 10px 20px;
}

}