/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
#logo {
    height: 50px;
}

.navbar {
    height: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.slickthing img {
    height: 200px;
}

  .slickthing .slick-prev { left: 0; }
  .slickthing  .slick-next { right: 0; }
  
   .slickthing .slick-prev,  .slickthing .slick-next {
    background-color: rgba(0, 0, 0, 0);
    top: 10px;
    width: 20%;
    height: 100%;
    transition: all 0.3s ease-out 0s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
      
      &:before { color: rgba(255, 255, 255, 0.65); }
    }
    
    &:before {
      font-size: 38px;
      color: rgba(0,0,0,0);
      transition: all 0.3s ease-out;
    }
  }
  
   .slickthing .slick-dots {
    width: 22%;
    left: 40%;
    bottom: -68px;
    border-bottom: 1px solid #3498DB;
    padding: 15px 0;
    
    li.slick-active button:before { color: #3498DB; margin-top: 1px; font-size: 10px;}
  }
}

